### This contains the code used to clean the data provided by Flat Iron, which is now labeled "MOD2DataCleaned_datacleaned2.csv" in the repo

In [1]:
import numpy as np 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('kc_house_data.csv', parse_dates=['date']) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  datetime64[ns]
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  float64
 9   view           21534 non-null  float64
 10  condition      21597 non-null  int64
 11  grade          21597 non-null  int64
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(11), object(1)
memory usage: 3.5+ MB

In [3]:
#convert any question marks to 0
# convert sqft to int

df.loc[df.sqft_basement == '?', 'sqft_basement'] = 0
df['sqft_basement'] = df.sqft_basement.astype('float64')
df['sqft_basement'] = df.sqft_basement.astype('int')
df.drop('id', axis=1, inplace=True)

In [4]:
df.isna().sum()

date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [5]:
# I looked through the data and found a huge outlier 33 bedroom house
# It also has low number of bathrooms, sqft_living so it was probably a data entry error

df.sort_values('bedrooms',ascending=False).head(2)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
15856,2014-06-25,640000.0,33,1.75,1620,6000,1.0,0.0,0.0,5,7,1040,580,1947,0.0,98103,47.6878,-122.331,1330,4700
8748,2014-08-21,520000.0,11,3.00,3000,4960,2.0,0.0,0.0,3,7,2400,600,1918,1999.0,98106,47.5560,-122.363,1420,4960

In [6]:
df.drop(df.index[[15856]])
df=df.dropna()

In [7]:
# converting dates to specified format
# which will then be used to create seasons

df['date'] = pd.to_datetime(df['date'], format='%m/%d/%Y', errors='coerce')

In [8]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,3,7,2170,400,1951,1991.0,98125,47.7210,-122.319,1690,7639
3,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,5,7,1050,910,1965,0.0,98136,47.5208,-122.393,1360,5000
4,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,3,8,1680,0,1987,0.0,98074,47.6168,-122.045,1800,7503
5,2014-05-12,1230000.0,4,4.50,5420,101930,1.0,0.0,0.0,3,11,3890,1530,2001,0.0,98053,47.6561,-122.005,4760,101930
6,2014-06-27,257500.0,3,2.25,1715,6819,2.0,0.0,0.0,3,7,1715,0,1995,0.0,98003,47.3097,-122.327,2238,6819

In [9]:
df['month'] = df['date'].dt.month

In [10]:
season = {
    1: 'winter',
    2: 'winter',
    3: 'spring',
    4: 'spring',
    5: 'spring',
    6: 'summer',
    7: 'summer',
    8: 'summer',
    9: 'fall',
    10: 'fall',
    11: 'fall',
    12: 'winter',
}
df['season'] = df['month'].replace(season)

In [11]:
df['renovated'] = (df['yr_renovated'] > 0).astype('int')
df['basement'] = (df['sqft_basement'] > 0).astype('int')

In [12]:
df['price'] = df['price'].astype(int)
df['waterfront'] = df['waterfront'].astype(int)
df['view'] = df['view'].astype(int)

In [13]:
df.isna().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
month            0
season           0
renovated        0
basement         0
dtype: int64

In [14]:
duplicates = df[df.duplicated()]
print(len(duplicates))

0

In [15]:
# Data Cleaning for this csv is complete
# df.to_csv(r'/Users/aadmin/Desktop/MOD2DataCleaned\datacleaned2.csv', index = False)